<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Time and media player</string>
            <key>footerText</key>
            <string>Choose an overall appearance for Dodo.
            
Time: Only shows Dodo's time.
Media player: Only shows Dodo's media player.
Both: Shows Dodo's time and media player.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>default</key>
            <integer>2</integer>
            <key>key</key>
            <string>timeMediaPlayerStyle</string>
            <key>validTitles</key>
            <array>
                <string>Time</string>
                <string>Media player</string>
                <string>Both</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
            <key>id</key>
            <string>timeMediaPlayerStyleStatus</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSPickerCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>playerStyle</string>
			<key>choices</key>
			<array>
				<dict>
					<key>title</key>
					<string>Modular</string>
					<key>image</key>
					<string>:root:Library/PreferenceBundles/dodo.bundle/modular.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Classic</string>
					<key>image</key>
					<string>:root:Library/PreferenceBundles/dodo.bundle/classic.png</string>
				</dict>
			</array>
			<key>dynamicRule</key>
            <string>timeMediaPlayerStyleStatus,==,0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>showDivider</string>
			<key>label</key>
			<string>Show divider</string>
			<key>cellSubtitleText</key>
			<string>Show bar between time and media player</string>
			<key>dynamicRule</key>
            <string>timeMediaPlayerStyleStatus,==,0</string>
			<key>id</key>
            <string>showDividerStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>showSuggestions</string>
			<key>label</key>
			<string>Show suggestions</string>
			<key>cellSubtitleText</key>
			<string>Suggest media apps based on recent listening.</string>
			<key>dynamicRule</key>
            <string>timeMediaPlayerStyleStatus,==,0</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Weather</string>
            <key>footerText</key>
            <string>Displays the current temperature, along with the city name and condition image. The weather will automatically refresh every 30 minutes, you can also tap it to force update whenever you want.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>showWeather</string>
			<key>label</key>
			<string>Show weather</string>
			<key>id</key>
            <string>showWeatherStatus</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Colors</string>
            <key>footerText</key>
            <string>Specify custom colors for each of Dodo's components.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>timeColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Time color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>dateColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Date color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>weatherColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Weather color</string>
			<key>dynamicRule</key>
            <string>showWeatherStatus,==,0</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>lockIconColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Lock icon color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>dividerColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Divider color</string>
            <key>dynamicRule</key>
            <string>showDividerStatus,==,0</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Theming</string>
            <key>footerText</key>
            <string>Choose a theme for the previous, play and next buttons.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DodoThemePickerController</string>
			<key>label</key>
			<string>Playback buttons theme</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Fonts</string>
            <key>footerText</key>
            <string>Choose a font to use for the media player.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>dodo.DodoPickerController</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>label</key>
			<string>Font</string>
			<key>key</key>
			<string>fontType</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Rounded</string>
				<string>Monospaced</string>
				<string>Serif</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Time font size</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>timeFontSize</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>100</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Date font size</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>dateFontSize</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>100</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Weather font size</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>weatherFontSize</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>100</real>
			<key>dynamicRule</key>
            <string>showWeatherStatus,==,0</string>
		</dict>
	</array>
	<key>title</key>
	<string>Appearance</string>
</dict>
</plist>
