<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Time formatting</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>default</key>
            <integer>0</integer>
            <key>key</key>
            <string>timeTemplate</string>
            <key>validTitles</key>
            <array>
                <string>Default</string>
                <string>Show seconds</string>
                <string>Custom</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
            <key>id</key>
            <string>timeTemplateStatus</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Custom format:</string>
			<key>placeholder</key>
			<string>h:mm</string>
			<key>default</key>
			<string>h:mm</string>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>timeTemplateCustom</string>
			<key>dynamicRule</key>
            <string>timeTemplateStatus,!=,2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>is24HourModeEnabled</string>
			<key>label</key>
			<string>24 Hour mode</string>
			<key>dynamicRule</key>
            <string>timeTemplateStatus,==,2</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Date formatting</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>default</key>
            <integer>0</integer>
            <key>key</key>
            <string>dateTemplate</string>
            <key>validTitles</key>
            <array>
                <string>Default</string>
                <string>Custom</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <key>id</key>
            <string>dateTemplateStatus</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Custom format:</string>
			<key>placeholder</key>
			<string>EEEE, MMMM d</string>
			<key>default</key>
			<string>EEEE, MMMM d</string>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>dateTemplateCustom</string>
			<key>dynamicRule</key>
            <string>dateTemplateStatus,!=,1</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Favourite apps</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>dodo.DodoFavouriteAppsController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Favourite apps</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Status indicators</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>dodo.DodoStatusItemsController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Status indicators</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Weather</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>dodo.DodoWeatherController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Weather</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Dimensions</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Notifications y offset</string>
			<key>default</key>
			<real>190.0</real>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>notificationVerticalOffset</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1000</real>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Charging Indication</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>hasChargingFlash</string>
			<key>label</key>
			<string>Charging flash</string>
			<key>cellSubtitleText</key>
			<string>Flash screen green while charging.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Behaviour</string>
</dict>
</plist>
