<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isEnabled</key>
	<true/>
	<key>fontType</key>
	<integer>2</integer>
	<key>timeMediaPlayerStyle</key>
	<integer>2</integer>
	<key>playerStyle</key>
	<integer>0</integer>
	<key>showSuggestions</key>
	<true/>
	<key>showDivider</key>
	<true/>
	<key>hasChargingIndication</key>
	<true/>
	<key>hasChargingIcon</key>
	<true/>
	<key>hasChargingFlash</key>
	<false/>
	<key>timeTemplate</key>
	<integer>0</integer>
	<key>timeTemplateCustom</key>
	<string>h:mm</string>
	<key>dateTemplate</key>
	<integer>0</integer>
	<key>dateTemplateCustom</key>
	<string>EEEE, MMMM d</string>
	<key>is24HourModeEnabled</key>
	<false/>
	<key>timeColor</key>
	<string>#FFFFFFFF</string>
	<key>dateColor</key>
	<string>#FFFFFFFF</string>
	<key>weatherColor</key>
	<string>#FFFFFFFF</string>
	<key>lockIconColor</key>
	<string>#FFFFFFFF</string>
	<key>dividerColor</key>
	<string>#FFFFFFFF</string>
	<key>hasFavouriteApps</key>
	<true/>
	<key>favouriteAppsGridSizeType</key>
	<integer>2</integer>
	<key>favouriteAppsFlexibleGridItemSize</key>
	<real>40.0</real>
	<key>favouriteAppsFlexibleGridColumnAmount</key>
	<integer>3</integer>
	<key>favouriteAppsFixedGridItemSize</key>
	<real>40.0</real>
	<key>favouriteAppsFixedGridColumnAmount</key>
	<integer>3</integer>
	<key>isVisibleFavouriteAppsFade</key>
	<false/>
	<key>notificationVerticalOffset</key>
	<real>190.0</real>
	<key>timeFontSize</key>
	<real>50</real>
	<key>dateFontSize</key>
	<real>15</real>
	<key>weatherFontSize</key>
	<real>15</real>
</dict>
</plist>
