<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Show your favourite apps on the lock screen.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>hasFavouriteApps</string>
			<key>label</key>
			<string>Enabled</string>
            <key>id</key>
            <string>hasFavouriteAppsStatus</string>
		</dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListMultiSelectionController</string>
            <key>key</key>
            <string>favouriteApps</string>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Selected apps</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
			<key>dynamicRule</key>
            <string>hasFavouriteAppsStatus,==,0</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Layout</string>
            <key>footerText</key>
            <string>Customise the grid layout for your favourited apps. 
'Fixed' will size applications at a specified size. 
'Flexible' will size your applications at the specified size if there is enough space, else they will shrink until there is enough room.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>default</key>
            <integer>1</integer>
            <key>key</key>
            <string>favouriteAppsGridSizeType</string>
            <key>validTitles</key>
            <array>
                <string>Flexible</string>
                <string>Fixed</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Size</string>
			<key>default</key>
			<real>40.0</real>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>favouriteAppsGridItemSize</string>
			<key>min</key>
			<real>10.0</real>
			<key>max</key>
			<real>100.0</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Columns</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>favouriteAppsGridColumnAmount</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>8</integer>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Fade</string>
            <key>footerText</key>
            <string>Show a fade at the bottom of the favourited apps list.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>isVisibleFavouriteAppsFade</string>
			<key>label</key>
			<string>Show fade</string>
		</dict>
	</array>
	<key>title</key>
	<string>Favourite apps</string>
</dict>
</plist>
