<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Enable/Disable the tweak</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>Configuration</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>dodo.DodoAppearanceController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Appearance</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>dodo.DodoBehaviourController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Behaviour</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Repo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GSRepoCell</string>
			<key>link</key>
			<string>https://repo.ginsu.dev</string>
			<key>title</key>
			<string>Add Ginsu's repo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2021 - 2022 Ginsu (@ginsudev)</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Dodo</string>
	<key>themeName</key>
	<string>Rounded</string>
</dict>
</plist>
