<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Display the weather above Dodo's clock. Long hold the weather to refresh.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>showWeather</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
            <string>showWeatherStatus</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Options</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ginsu.dodo</string>
			<key>key</key>
			<string>isActiveWeatherAutomaticRefresh</string>
			<key>label</key>
			<string>Auto refresh</string>
			<key>dynamicRule</key>
            <string>showWeatherStatus,==,0</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GSColorPickerCell</string>
            <key>fallbackHex</key>
            <string>#FFFFFFFF</string>
            <key>supportsAlpha</key> 
            <true/>
            <key>defaults</key>
            <string>com.ginsu.dodo</string>
            <key>key</key>
            <string>weatherColor</string>
            <key>default</key>
            <string>#FFFFFFFF</string>
            <key>label</key>
            <string>Color</string>
			<key>dynamicRule</key>
            <string>showWeatherStatus,==,0</string>
        </dict>
	</array>
	<key>title</key>
	<string>Weather</string>
</dict>
</plist>
